<div id="tutulo" style="display: flex; align-items: center; justify-content: center;">
    <div>
        <h1>Agregar Invernadero</h1>
    </div>
</div>
<div style="display: flex; align-items: center; justify-content: center;;">
    <div style="background: gray; margin-top: 20px; width: 90%; height: 400px;border-radius: 15px">
        <div style="display: flex; ">
            <div style="display: flex; margin-top: 10px; width: 70%; align-items: center; justify-content: center;">
                <label for="">Nombre Invernadero</label>
                <input placeholder="Ingresa nombre del invernadero" type="text" class="form-control" style="width: 800px; margin-left: 1%;">
            </div>
            <div style="display: flex; margin-top: 10px; width: 30%; align-items: center; justify-content: left;">
                <label for="">Numero (Alias): </label>
                <input type="text" placeholder="Ingresa un alias de invernadero" class="form-control" style="width: 300px; margin-left: 1%;">
            </div>
        </div>
        <div style="display: flex; margin-top: 30px; align-items: center; justify-content: center;">
            <div style="display: flex; align-items: center; justify-content: center; width: 50%;">
                <label for="">Dueño invernadero: </label>
                <select name="duenio" id="" class="form-select" style="width: 400px; margin-left: 10px ;">
                    <option value="0">Seleccione...</option>
                    <option value="1">Gerardo Ronquillo Manzano</option>
                    <option value="2">Guadalupe Ronquillo Manzano</option>
                    <option value="3">Pascual Ronquillo Manzano</option>
                    <option value="4">Ismael Ronquillo Manzano</option>
                    <option value="4">Esteban Ronquillo Manzano</option>
                </select>
            </div>
            <div style="display: flex; align-items: center; justify-content: left;width: 50%;">
                <label for="" style="width: 200px;">Direccion Invernadero: (Opcional)</label>
                <input type="text" class="form-control" style="width: 450px; margin-left: 1px; margin-left: 10px">
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
            <div style="display: flex; width: 100%;">
                <div style=" width: 50%; align-items: center; justify-content: right; display: flex; margin-right: 20px;">
                    <button type="button" class="btn btn-success" style="margin-left: 5px;">Aregar invernadero</button>
                </div>
                <div style=" width: 50%; align-items: center; justify-content: left; display: flex; margin-left: 20px;">
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>    
</div>